<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/css/main.css">
{% include head.html %}
</head>
<body>
  <div class="container">
    <h1><a href="./">{{ site.tag_text }}</a></h1>

    <h1 id="aboutabout--thingsthings--contactcontact"><a href="/about/">about</a> | <a href="/things/">things</a> | <a href="/contact/">contact</a></h1>
    
    <h3 id="vanthingsvan--cratethingscrate--domethingsdome--cardboardthingscardboard"><a href="/things/van">van</a> | <a href="/things/crate">crate</a> | <a href="/things/dome">dome</a> | <a href="/things/cardboard">cardboard</a></h3>
    
    {{ content }}
  </div>
{% include scripts.html %}
</body>
</html>
